.maindiv {
    padding: 140px;
    display: flex;
    /* background-image: url("../images/wavebg.jpg"); */
    /* background-size: cover; */
    max-width: 1450px;
    margin: auto;

}

.leftcontdiv {
    width: 20%;
    /* margin: auto;
    text-align: center;
    align-items: center; */
}

.rightcontdiv {
    width: 80%;

    /* margin: auto;
    text-align: center;
    align-items: center;  */
}

.logodiv {
    width: 80%;
    margin: 19px 46px 40px auto;
}

.logomain {
    width: 40%;
}

.rightprofile {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.rightsidedivtwo {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

/* dropdown btn */
.dropbtn {
    /* background-color: #04AA6D; */
    color: black;
    display: flex;
    font-size: 20px;
    border: none;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

.head {
    font-size: 20px;
    font-weight: 500;
}

.bottomdiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    background-image: url("../images/wavebg.jpg");
    background-size: cover;

}

.leftcard {
    width: 33%;
    background-color: white;
    box-shadow: -4px 4px 4px 4px #e7e7e7;
    border-radius: 10px;
    height: auto;

}

.insidecard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.imgdiv {
    height: 300px !important;

}

.imguser {
    width: 100%;
    margin: auto;
}

.insidecardbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profilebtn {
    cursor: pointer;
    font-size: 20px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
    font-weight: 500;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    padding: 2px;
    margin-bottom: 20px;

}

.itemsdiv {
    display: flex;
}

.textstlye {
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 10px 15px;

}

.muiicons {
    color: #fb006e
}

.spandiv {
    color: #fb006e;
    margin-left: 15px;
}

.textdiv {
    font-size: 20px;
    font-weight: 500;
}

.righttextdiv {
    font-size: 16px;
    font-weight: 400;
}

.rightcard {
    width: 50%;
    border-radius: 10px;

}

.forborder {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contcardbotm {
    width: 100%;
    border-radius: 10px;

    margin-bottom: 10px;

}

.bankActdiv {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;

}

.headstyle {
    font-size: 20px;
    font-weight: 500;

}

.accDetdiv {
    text-align: center;
    align-items: center;
}

.bankbtnchk {
    width: 90px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    text-align: center;
    align-items: center;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.acchead {
    font-size: 18px;
    font-weight: 500;
}

.rechargediv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dot {
    color: #bc1888;
    width: 12px;
    border-radius: 50%;
    background-color: #bc1888;
    height: 12px;

}

.dottwo {
    color: #3fff42;
    width: 12px;
    border-radius: 50%;
    background-color: #3fff42;
    height: 12px;

}

.itemrec {
    margin-left: 10px;
}
@media(max-width:1240px){
    .leftcard{
        width: 45%;
    }
}
@media(max-width:1200px) {
    .maindiv {
        padding: 120px 20px 18px 20px;
        width: 100%;
        margin: auto;
    }
}

@media(max-width:1000px) {
    .maindiv {
        padding: 120px 10px 10px 10px;
        width: 100%;
        margin: auto;
    }

    .imgdiv {
        width: 100%;
        margin: auto;
    }
}

@media(max-width:850px) {
    .maindiv {
        width: 100%;
    }

    .bottomdiv {
        padding: 15px;
    }

    .leftcontdiv {
        width: 25%;
    }

    .rightcontdiv {
        width: 75%;
    }

    .imguser {
        width: 100%;
        margin: auto;
    }
}

@media(max-width:800px) {
    .bottomdiv {
        padding: 2px;
    }
}
@media(max-width:750px){
    .leftcontdiv{
        display: none;
    }
    .rightcontdiv{
        width: 100%;
    }
    .insidecard{
        margin-top: 20px;
    }
}
@media(max-width:550px){
    .bottomdiv{
        display: block;
    }
    .leftcard{
        margin: auto;
        width: 60%;
    }
    .rightcard{
        margin: 20px auto;
        width: 60%;
    }
}

@media(max-width:450px){
    .bottomdiv{
        display: block;
    }
    .leftcard{
        margin: auto;
        width: 80%;
    }
    .rightcard{
        margin: 20px auto;
        width: 80%;
    }
    .rightprofile{
        width: 200px;
    }
    .dropbtn{
        font-size: 15px;
    }
}
@media(max-width:400px){
    .insidecard{
        margin-top: 2px;
    }
}