.mainslideDiv {
    padding: 150px 50px 50px 50px;
    /* background-image: linear-gradient(to right bottom, #f6d6df, #f8d8e0, #fbd9e0, #fddbe0, #ffdde1); */
    height: 100vh;
}
.chatcontpage{
    width: 40%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}
.insidediv {


    display: flex;
    justify-content: space-between;
    width: 60%;
}

.swipe {
    position: absolute;
}

.cardContainer {
    width: 90vw;
    max-width: 260px;
    height: 300px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 260px;
    height: 300px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.cardContent {
    width: 100%;
    height: 100%;
}

.swipe:last-of-type {}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
}

.swipe-info {
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}