.mainhd {
    padding-bottom: 93px;
}

.mainslideDiv {
    /* padding: 150px 50px 50px 50px; */
    /* background-image: linear-gradient(to right bottom, #f6d6df, #f8d8e0, #fbd9e0, #fddbe0, #ffdde1); */
    height: 100vh;
}

.chatcontpage {
    max-width: 350px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    ;
}

.insidediv {


    display: flex;
    width: 100%;
}

.swipe {
    position: absolute;
}

.swiper-container {
    margin: auto;
}

.cardContainer {
    width: 90vw;
    max-width: 260px;
    height: 300px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 300px;
    max-width: 300px;
    height: 400px;
    box-shadow: 0px 5px 37px -12px rgb(0 0 0 / 30%);
    border-radius: 27px;
    background-size: cover;
    background-position: center;

}

.cardContent {
    width: 100%;
    height: 100%;
}

.swipe:last-of-type {}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
    font-weight: 500;
}

.swipe-info {
    margin-top: 100px;
    font-size: 24px;
    color: black;
    font-weight: 500;
    text-align: center;
    align-items: center;

}